@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #D5E1EF;
    height: 100vh;
    align-items: center;
}

.card{
    display: flex;
    gap: 20px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:320px;
    padding: 16px;
    text-align: center;
    background: white;

}

.blue{
        background: #3685FF;
        display: flex;
        height: 288px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

p{
    color: #68778D;
    font-size: 15px;
}

h1{
    color: #1F314F;
    font-size: 22px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.text{
    margin-bottom: 24px;
}